.Nav{
    width: 100%;
    height: auto;
    min-height: 150px;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    background-color: #ffffff;
}
.cont{
    width: 100%;
    height: 100px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #ffffff;
}

.first{
    margin-top:10px;

}
.first div{
    display:flex;
    justify-content: space-around;
    align-items:center;
    flex-direction: column;
    height:40px;
    width:110px;
    border: 3px solid #013D47;
    background-color: transparent;
    color:#013D47;
    font-size:25px;
    margin-bottom: -10px;
    font-weight: bold;
}
.cont2{
    width:100%;
    height: 50px;
    background-color: #013D47;
    color: white;
    display: flex;
}
.cont2 ul{
    width: 60%;
    height: 50px;
    list-style: none;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.cont2 ul li a{
    text-decoration: none;
    color: white;
    transition: ease  all .3s;
}
.cont2 ul li a:hover{
    color: green !important;
}

.burgericon{
    display: none;
}

.sidebars{
    position:fixed;
    z-index: 1200;
    width: 100%;
    height: 100vh;
    font-size: 50px;
    background-color: #013D47;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    animation-name: laydown;
    animation-duration: 0.5s;
    animation-timing-function: 0.5s;
    transition: ease 0.5s;
}
.exitb{
    font-size:40px;
    color:#013D47;
}
.tit{
    margin-top: -200px;
    font-size:30px;
    color:#013D47;
    width: 100%;
    height:100px;
    background: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.tit h1{
    font-size:40px;
}



@keyframes laydown{
    from {height: 0px};
    to { height:100% };
}


/* ===================================================================================================== */


@media screen and (max-width:480px){

    Nav{
        height: 70px;
        max-width: 430px;
    }
    .burgericon{
        font-size: 40px;
        margin-top: -100px;
        position: absolute;
        color:#013D47;
        margin-left: 50%;
        display:block;
    }

    ul{
        margin-top: -200px;
        width: 300px;
        height: 500px;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .cont2{
        display: none
    }
}